body{
    margin:0;
    padding: 0;
    font-family: "Palatino Linotype", sans-serif;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: linear-gradient(#292929, #252525);
    width: 100%;
    box-sizing: border-box;
}
header .logo{
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}
header nav{
    float: right;
}
header nav ul{
    margin:0;
    padding: 0;
    display: flex;
}
header nav ul li{
    list-style: none;
}
header nav ul li:hover > a{
    border-radius: 5px 0 0 0;
    border-left: 3px solid #C4302B;
    color: #C4302B;
}
header nav ul li a{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #ffffff;
    
    display: block;
}
header nav ul li a:hover{
    background-color: #1c1c1c;
    background: -moz-linear-gradient(#1c1c1c, #1b1b1b);
    background: -ms-linear-gradient(#1c1c1c, #1b1b1b);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1c1c1c), color-stop(100%, #1b1b1b));
    background: -webkit-linear-gradient(#1c1c1c, #1b1b1b);
    background: -o-linear-gradient(#1c1c1c, #1b1b1b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1c1c', endColorstr='#1b1b1b');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1c1c', endColorstr='#1b1b1b')";
    background: linear-gradient(#1c1c1c, #1b1b1b);

    border-bottom: 2px solid #222222;
    border-top: 2px solid #1B1B1B;
    text-decoration: none;
}
.menu-toggle{
    color: #fff;
    float: right;
    list-style: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
@media (max-width: 991px) {
    header{
        padding: 0 20px;
    }
    .menu-toggle{
        display: block;
    }
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: linear-gradient(#1c1c1c, #1b1b1b);
        top: 50px;
        left: -100%;
        transition: 0.5s;

    }
    header nav.active{
        left: 0;
    }
    header nav ul{
        display: block;
        text-align: center;
    }
    header nav ul li a{
        border-bottom: 1px solid rgba(0,0,0,0.2);

    }

}

