@import url('https://fonts.googleapis.com/css?family=Bad+Script');
* {
    outline: none !important;
    scroll-behavior: smooth;
}

body {
    font-family: "Palatino Linotype", sans-serif;
}

header {
    position: relative;
    z-index: 1000000;
}

p {
    font-size: 1.15rem;
}

/*HEADER*/
.navbar {
    background: transparent !important;
    transition: 0.5s;
}

.navbar.scrolled {
    background: #000 !important;
    transition: 0.5s;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #000;
    background: #fff;

}

.navbar-light .navbar-nav .active > .nav-link:hover {
    color: #000;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .8);
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 1);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited {
    color: rgba(255, 255, 255, 1);
    font-size: 2.5rem;
    font-weight: 600;

}
/*div#navbarSupportedContent {*/
/*    background: #000;*/
/*}*/
/*END HEADER*/

/*HOME*/
.banner {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
}

.banner:before,
.sec2:before,
.contact:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(#000, transparent);
    pointer-events: none;
}

.banner:after,
.sec2:after,
.contact:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(360deg, #000, transparent);
    pointer-events: none;
}

.height100p {
    height: 100vh;
}

.h100 {
    height: 100%;
}

/*.contentBox {*/
    /*position: relative;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-content: center;*/
    /*text-align: center;*/
    /*z-index: 10;*/
/*}*/

/*.contentBox h1 {*/
    /*font-weight: 800;*/
    /*color: #fff;*/
    /*text-transform: uppercase;*/
    /*font-size: 5rem;*/
/*}*/

.contentBox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    z-index: 10;

}
/*.tuanpham-online {*/

/*display: flex;*/
/*justify-content: center;*/
/*align-items: center;*/
/*height: 100vh;*/
/*background: #000;*/
/*font-family: 'Bad Script', cursive;*/
/*}*/

.contentBox h1 {
    font-family: 'Bad Script', cursive;
    margin: 0;
    padding: 0;
    font-size: 10em;
    font-weight: 600;
    letter-spacing: 3px;
}

.contentBox h1 span {
    color: #fff;
    display: table-cell;
    padding: 0;
    margin: 0;
    animation: animate 2s linear infinite;
}
.contentBox h1 span:nth-child(1){
    animation-delay: 0s;
}
.contentBox h1 span:nth-child(2){
    animation-delay: 0.25s;
}
.contentBox h1 span:nth-child(3){
    animation-delay: 0.5s;
}
.contentBox h1 span:nth-child(4){
    animation-delay: 0.75s;
}
.contentBox h1 span:nth-child(5){
    animation-delay: 1s;
}
.contentBox h1 span:nth-child(6){
    animation-delay: 1.25s;
}
.contentBox h1 span:nth-child(7){
    animation-delay: 1.5s;
}
.contentBox h1 span:nth-child(8){
    animation-delay: 1.75s;
}
.contentBox h1 span:nth-child(9){
    animation-delay: 2s;
}
.contentBox h1 span:nth-child(10){
    animation-delay: 2.25s;
}
.contentBox h1 span:nth-child(11){
    animation-delay: 2.5s;
}
.contentBox h1 span:nth-child(12){
    animation-delay: 2.75s;
}
.contentBox h1 span:nth-child(13){
    animation-delay: 3s;
}
.contentBox h1 span:nth-child(14){
    animation-delay: 3.25s;
}
@keyframes animate {
    0%, 100% {
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 10px #00bf,
        0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff,
        0 0 300px #00b3ff,
        0 0 400px #00b3ff;
    }
    5%, 95% {
        color: #fff;
        filter: blur(0px);
        text-shadow: none;
    }
}
.contentBox p {
    color: #fff;
    font-size: 1.3rem;
}

/*END HOME*/

/*ABOUT US*/
.sec1 {
    padding: 100px 0;
    background: #000;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Palatino Linotype", sans-serif;
    position: relative;
    z-index: 1000;
}

.sec1 .container-fluid {
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 40px;
}

.sec1 .container-fluid .box {
    position: relative;
    height: 400px;
    background: #060c21;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

.sec1 .container-fluid .box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    transform: skew(2deg, 2deg);
    z-index: -1;
}

.sec1 .container-fluid .box:nth-child(1):before {
    background: linear-gradient(315deg, #ff0057, #e64a19);


}

.sec1 .container-fluid .box:nth-child(2):before {
    background: linear-gradient(315deg, #89ff00, #00bcd4);

}

.sec1 .container-fluid .box:nth-child(3):before {
    background: linear-gradient(315deg, #e91e63, #5d02ff);

}

.sec1 .container-fluid .box:nth-child(4):before {
    background: linear-gradient(315deg, #ff0000, #ffc107);

}

.sec1 .container-fluid .box .content {
    position: relative;
    padding: 20px;
    transform: translateY(40px);
}

.sec1 .container-fluid .box .content h2 {
    position: absolute;
    top: -60px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 10em;
    font-weight: 800;
    color: rgba(255, 255, 255, .05);
    transition: 0.5s;
}

.sec1 .container-fluid .box:hover .content h2 {
    top: -110px;
}

.sec1 .container-fluid .box .content h3 {
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    color: #fff;

}

.sec1 .container-fluid .box .content p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
}

/*.sec1 .container-fluid .box .content a {*/
/*position: relative;*/
/*margin: 20px 0 0;*/
/*padding: 10px 20px;*/
/*text-decoration: none;*/
/*border: 1px solid #fff;*/
/*display: inline-block;*/
/*color: #fff;*/
/*transition: 0.5s;*/
/*transform: translateY(-20px);*/
/*opacity: 0;*/
/*visibility: hidden;*/
/*}*/

/*.sec1 .container-fluid .box:hover .content a {*/
/*transform: translateY(0);*/
/*opacity: 1;*/
/*visibility: visible;*/
/*}*/

/*.sec1 .container-fluid .box .content a:hover {*/
/*color: #000;*/
/*background: #fff;*/
/*}*/

.box-button
 {
    background: #0c002b;
}

.box-button a {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1670f0;
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0 0;
    font-size: 1rem;
    text-decoration: none;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
    overflow: hidden;
}

.box-button a:before,
.login-button button:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255, 255, 255, 0.05);
}

.box-button a span:nth-child(1),
.login-button button span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0c002b, #1779ff);
    animation: animate1 2s linear infinite;
}

@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.box-button a span:nth-child(2),
.login-button button span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #0c002b, #1779ff);
    animation: animate2 2s linear infinite;

}

@keyframes animate2 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

.box-button a span:nth-child(3),
.login-button button span:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #0c002b, #1779ff);
    animation: animate3 2s linear infinite;

}

@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.box-button a span:nth-child(4),
.login-button button span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #1779ff);
    animation: animate4 2s linear infinite;

}

@keyframes animate4 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

/*END ABOUT US*/

/*ONLINE TESTS*/
.sec2 {
    position: relative;
    background-image: url("../images/banner02.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.sec2 h2 {
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    font-size: 4.5rem;

}

/*.btnD1 {*/
    /*border: 2px solid #fff;*/
    /*color: #000;*/
    /*background: #fff;*/
    /*border-radius: 50px;*/
    /*padding: 15px 50px;*/
    /*font-size: 1.15rem;*/
    /*outline: none;*/
    /*font-weight: 500;*/
    /*margin-top: 20px;*/
/*}*/

/*END ONLINE TESTS*/

/*BLOG*/
.blog {
    position: relative;
    padding: 100px 0;
    background: #000;
}

.blogPost {
    position: relative;
    width: 100%;
    margin-top: 30px;
    background: #fff;

}

.blogPost .imgBx {
    height: 400px;

}

.blogPost .imgBx img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.blogPost .content {
    padding: 15px;

}

.blogPost .content h1 {
    margin: 0;
    padding: 0 0 10px;
    font-weight: 600;
    font-size: 1.5rem;

}

.btnD2,
.btnD2:hover {
    background: #262626;
    color: #fff;
    border-radius: 30px;
    padding: 10px 20px;
    float: right;
}

/*END BLOG*/

/*LOGIN*/
.contact {
    position: relative;
    padding: 100px 0;
    background-image: url("../images/contact.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.contact form {
    position: relative;
    z-index: 1000;
}

.contact .form-control {
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    height: 50px;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    font-size: 1.25rem;
}

.contact .form-control:focus,
.contact .form-control:hover {
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    box-shadow: none;
}

.contact .textarea {
    min-height: 100px;
}

.contact label {
    color: #fff;
    font-size: 1.25rem;
}

.login-button button {
    position: absolute;
    background: #000;
    border: none;
    transform: translate(-50%, -50%);
    color: #1670f0;
    padding: 15px 40px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
    overflow: hidden;
}


/*END LOGIN*/

/*FOOTER*/
footer {
    background: #000;
    padding: 90px 0 0;

}

.sci {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li {
    list-style: none;
    margin: 0 20px;
}

.sci li a {
    color: #777;
    font-size: 2rem;
    transition: 0.5s;
}

.sci li a:hover {
    color: #fff;
}

.cpryt {
    margin-top: 20px;
    text-align: center;
    color: #777;
}

/*END FOOTER*/

/*ipad pro*/
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .sec1 .container-fluid .box {
        margin-bottom: 20px;
    }

    .contact {
        min-height: 50vh;
    }
    /*.form-group .login-button {*/
        /*margin: 80px 0;*/
    /*}*/

    footer {
        padding: 20px 0;
    }
}

/*ip den ipad */
@media (max-width: 992px) {
    .navbar-light .navbar-toggler {
        background: #fff;
        border-radius: 0;

    }

    .banner {
        min-height: 100vh;
        padding: 100px 0;

    }
    .contentBox{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contentBox h1{
        font-size: 2.5rem;
    }
    .sec2 h2 {
        font-size: 2rem;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .sec1 {
        padding: 20px 0;
    }

    .headerText h2 {
        font-size: 2rem;
    }

    .blog {
        padding: 20px 0;
    }

    .blogPost .imgBx {
        height: 200px;
    }

    .contact {
        padding: 80px 0;
    }

    .contact .form-control {
        height: 40px;
        border: 1px solid #fff;
    }

    .btnD1 {
        padding: 10px 40px;
        margin-top: 10px;
    }

    footer {
        background: #000;
        padding: 20px;
    }

    .sci li {
        list-style: none;
        margin: 0 10px;
    }

    .sci li a {
        color: #777;
        font-size: 1.5rem;
        transition: 0.5s;
    }

    .sec2 {
        height: auto;
        padding: 40px 0;

    }

    .sec1 .container-fluid .box {
        margin-bottom: 20px;
    }

}
@media only screen and (min-width: 768px) {
    .contact{
        min-height: 70vh;
    }
}

@media (min-width: 992px) {
    .contact {
        min-height: 50vh;
    }
    .contentBox{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contentBox h1{
        font-size: 8.5rem;
    }
}



